body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(255, 250, 192);
    text-align: center;

    background: url('art-gallery/Background-photos/artt.jpeg') no-repeat center center fixed;
    background-size: cover;
  position: relative;
  z-index: 1;
  
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background: radial-gradient(
        circle at center,
        rgba(0,0,0,0.15) 0%,
        rgba(0,0,0,0.8) 100%
    );

    z-index: 0;
    pointer-events: none;}
    
.navbar,
.container,
.card,
.footer {
    position: relative;
    z-index: 2;
}
.art-pieces-section {
    position: relative;
    z-index: 2;
}
.navbar {
  position: fixed  !important;
  top: 0 !important;
  left: 0;
  width: 100%;
  z-index: 1000;

  background: rgba(0, 0, 0, 0.7);
  
  padding: 5px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-navbar {
  background-color: #271d1400;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand {
  color: #ffffff !important;
  font-size: 27px !important;
  text-decoration: none;
  padding-left: 15px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px !important;
}

.navbar-nav a:hover {
  text-decoration: underline;
  color:#fff4cf;
  text-shadow: 0 0 10px #888dff, 0 0 20px #ffffff, 0 0 30px #eefeff;
}


.art-pieces-section h1{
    color: #ffffff;
    text-shadow: 0 0 10px #efefef, 0 0 20px #e1e1e1, 0 0 30px #fffffff4;
    text-decoration: underline;
    margin-bottom: 20px; /* Reduced margin */
    text-decoration: underline;
}
.card {
    gap: 0px;
    height: 18rem;
    padding-top: 5px; 
    width: 18rem;
    margin-bottom: 15px; /* Reduced space between cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    color: #f3efef;
    padding-left: 10px;
    padding: 20px; /* Reduced padding */
    padding-top: 10px;
}

.card-title {

    color: rgb(240, 240, 235) !important;
    margin-top: 0;
}
.card-text{
    color: rgb(227, 225, 223);
    border-color: black;
    font-size:medium;
    width: 18rem;
}
.card-textt{
    color: rgb(255, 255, 255);
    border-color: black;
    font-size:medium;
    width: 18rem;
}
.card-img-top {
    height: 170px;
    object-fit: cover;
}

.art-pieces-section {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px; /* Reduced padding */
    gap: 15px; /* Reduced gap */
}
.art-pieces-section h1 {
    color: #ffffff;
    text-shadow: 0 0 10px #dcdbdbcd, 0 0 20px #feb47b, 0 0 30px #d1feff;
    text-decoration: underline;
    margin-bottom: 20px; /* Reduced margin */
}

.footer {
  background: linear-gradient(180deg, #000000);
  color: #01161d;
  font-family: 'Playfair Display', serif;
  height:min-content;
  margin: 0;
  padding: 10px 7%;   /* reduce this value */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer h4 {
  font-size: 25 px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  color: #92c3ff;
}

.footer p,
.footer a {
  font-size: 16px;
  color: #cfcfcf;
  text-decoration: none;
  line-height: 1.8;
}

.footer a:hover {
  color: #d7d8d8;
  transition: 0.3s;
}


.tagline {
  font-style: italic;
  color: #cedcff;
}

.desc {
  max-width: 280px;
  opacity: 0.8;
}


.footer-center a {
  display: block;
  margin-bottom: 8px;
}

.cta {
  margin-top: 10px;
  font-weight: bold;
  color: #e6c15a;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  color: #888;
  border-top: 1px solid rgba(2, 3, 30, 0.542);
  padding-top: 20px;
}
.title-box {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.747); /* optional */
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.99);
}
